config/wsdl/nas/NASAddressDetail.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ns="http://northgate-is.com/NAS/AddressDetailRequest-v1.0" 
	xmlns:ns1="http://northgate-is.com/NAS/AddressDetailResponse-v1.0" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdl1="http://www.northgateps.com/NASAddressDetail.wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NASAddressDetail" targetNamespace="http://www.northgateps.com/NASAddressDetail.wsdl">
	<wsdl:types>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference fior the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns="http://northgate-is.com/NAS/AddressDetailRequest-v1.0" 
			xmlns:core="http://northgate-is.com/FL/Core" targetNamespace="http://northgate-is.com/NAS/AddressDetailRequest-v1.0" elementFormDefault="qualified">
			<xsd:element name="AddressDetailRequest">
				<xsd:annotation>
					<xsd:documentation>Request NAS address detail</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RequestParameters" type="core:StandardRequestStructure"/>
						<xsd:element name="Address">
							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation>Identify Address for which details are required</xsd:documentation>
								</xsd:annotation>
								<xsd:sequence>
									<xsd:element name="AddressIdentifier">
										<xsd:annotation>
											<xsd:documentation>UDPRN + UMPRN, 8 characters each, UMPRN is space padded if there isn't a value</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="16"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns="http://northgate-is.com/NAS/AddressDetailResponse-v1.0" 
			xmlns:core="http://northgate-is.com/FL/Core" targetNamespace="http://northgate-is.com/NAS/AddressDetailResponse-v1.0" elementFormDefault="qualified">
			<xsd:import namespace="http://northgate-is.com/FL/Core" schemaLocation="FLCore.xsd"/>
			<xsd:element name="AddressDetailResponse">
				<xsd:annotation>
					<xsd:documentation>NAS Address details</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="core:StandardResponseStructure">
							<xsd:sequence>
								<xsd:element name="Address">
									<xsd:complexType>
										<xsd:annotation>
											<xsd:documentation>Address</xsd:documentation>
										</xsd:annotation>
										<xsd:sequence>
											<xsd:element name="AddressIdentifier">
												<xsd:annotation>
													<xsd:documentation>UDPRN + UMPRN, 8 characters each, UMPRN is space padded if there isn't a value</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="16"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="AddressLine1">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="255"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="AddressLine2" minOccurs="0">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="255"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="AddressLine3" minOccurs="0">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="255"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="AddressLine4" minOccurs="0">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="255"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="Town">
												<xsd:annotation>
													<xsd:documentation>Post Town</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="100"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="County" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Administrative County</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="100"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="Postcode" type="PostCodeType"></xsd:element>
											<xsd:element name="Country" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Country code</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="10"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="LocalEdAuthCode" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Local Education Authority Code (Upper tier authority)</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="10"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="LocalAuthCode" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>District Authority Code (Lower tier authority)</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="10"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="UDPRN" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Royal Mail Unique Delivery Point Reference Number</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="8"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="UMPRN" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Royal Mail Unique Multiple Residence Reference Number</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="8"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
											<xsd:element name="DeliveryPointSuffix" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Royal Mail Delivery Point Suffix code</xsd:documentation>
												</xsd:annotation>
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<!--  PostCode Definition -->
			<xsd:simpleType name="PostCodeType">
				<xsd:annotation>
					<xsd:documentation>complex pattern for postcode, which matches definition, accepted by some parsers is: "(GIR 0AA)|((([A-Z-[QVX]][0-9][0-9]?)|(([A-Z-[QVX]][A-Z-[IJZ]][0-9][0-9]?)|(([A-Z-[QVX]][0-9][A-HJKSTUW])|([A-Z-[QVX]][A-Z-[IJZ]][0-9][ABEHMNPRVWXY])))) [0-9][A-Z-[CIKMOV]]{2})"</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z-[CIKMOV]]{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NASAddressDetailRequest">
		<wsdl:part name="parameters" element="ns:AddressDetailRequest" />
	</wsdl:message>
	<wsdl:message name="NASAddressDetailResponse">
		<wsdl:part name="parameters" element="ns1:AddressDetailResponse" />
	</wsdl:message>
	<wsdl:portType name="NASAddressDetailWSDLPort">
		<wsdl:operation name="NASAddressDetailWSDL">
			<wsdl:input message="wsdl1:NASAddressDetailRequest" />
			<wsdl:output message="wsdl1:NASAddressDetailResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NASAddressDetailWSDLBinding" type="wsdl1:NASAddressDetailWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NASAddressDetailWSDL">
			<soap:operation soapAction="https://server/DATABASE/communication/GetAddressDetail" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NASAddressDetailService">
		<wsdl:port binding="wsdl1:NASAddressDetailWSDLBinding" name="NASAddressDetailWSDLPort">
			<soap:address location="https://server/DATABASE/communication/GetAddressDetail" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
