config/wsdl/fl/FLAuthenticateUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 17-Oct-2013   Version 1.0  -->
<wsdl:definitions xmlns:ns="http://northgate-is.com/FL/AuthenticateUser" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://northgate-is.com/FL/AuthenticateUser.wsdl" targetNamespace="http://northgate-is.com/FL/AuthenticateUser.wsdl" name="AuthenticateUser">
	<wsdl:types>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference fior the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns="http://northgate-is.com/FL/AuthenticateUser" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:core="http://northgate-is.com/FL/Core" targetNamespace="http://northgate-is.com/FL/AuthenticateUser" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:import namespace="http://northgate-is.com/FL/Core"/>
			<xsd:complexType name="UserRolesType">
				<xsd:sequence>
					<xsd:element name="UserRole" type="xsd:string" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticateUserRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RequestParameters" type="core:StandardRequestStructure"/>
						<xsd:element name="Username" type="xsd:string"/>
						<xsd:element name="Password" type="xsd:string" minOccurs="0"/>
						<!-- new element for the auth token-->
						<xsd:element name="Token" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AuthenticateUserResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="core:StandardResponseStructure">
							<xsd:sequence>
								<xsd:element name="UserIsAuthenticated" type="xsd:boolean"/>
								<xsd:element name="UserIsRegistered" type="xsd:boolean"/>
								<!-- new element for the auth token-->
								<xsd:element name="UserIs2FA" type="xsd:boolean"/>
								<!-- new element for the auth token-->
								<xsd:element name="TokenValid2FA" type="xsd:string"/>
								<xsd:element name="PasswordChangeRequired" type="xsd:boolean"/>
								<xsd:element name="PasswordExpiryDate" type="xsd:date"/>
								<!--new element for the T&Cs check-->
								<xsd:element name="UserIsSignedTaCs" type="xsd:boolean"/>
								<xsd:element name="WorkPlaceRefno" type="xsd:integer"/>
								<xsd:element name="PartyRefno" type="xsd:integer"/>
								<xsd:element name="MemorableQuestion" type="xsd:string"/>
								<xsd:element name="MemorableAnswer" type="xsd:string"/>
								<xsd:element name="UserLocked" type="xsd:boolean"/>
								<xsd:element name="UserRoles" type="UserRolesType"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AuthenticateUserRequest">
		<wsdl:part name="parameters" element="ns:AuthenticateUserRequest"/>
	</wsdl:message>
	<wsdl:message name="AuthenticateUserResponse">
		<wsdl:part name="parameters" element="ns:AuthenticateUserResponse"/>
	</wsdl:message>
	<wsdl:portType name="AuthenticateUserWSDLPort">
		<wsdl:operation name="AuthenticateUserWSDL">
			<wsdl:input message="tns:AuthenticateUserRequest"/>
			<wsdl:output message="tns:AuthenticateUserResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AuthenticateUserWSDLBinding" type="tns:AuthenticateUserWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AuthenticateUserWSDL">
			<soap:operation soapAction="https://northgate-is.com/FL/AuthenticateUser"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthenticateUserWSDLService">
		<documentation>northgate-is.com Authentication Service</documentation>
		<wsdl:port name="AuthenticateUserWSDLPort" binding="tns:AuthenticateUserWSDLBinding">
			<soap:address location="https://[server]/[port]/communication/AuthenticateUser"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
