config/wsdl/fl/FLMaintainPassword.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 17-Oct-2013   Version 1.0  -->
<wsdl:definitions xmlns:ns="http://northgate-is.com/MaintainPassword" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://northgate-is.com/FL/MaintainPassword.wsdl" targetNamespace="http://northgate-is.com/FL/MaintainPassword.wsdl" name="MaintainPassword">
	<wsdl:types>
		<xs:schema xmlns="http://northgate-is.com/MaintainPassword" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/MaintainPassword" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="MaintainPasswordRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Username">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OldPassword">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="NewPassword">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MaintainPasswordResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="Response">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Success" type="ResponseType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Error" type="ErrorType"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:simpleType name="ResponseType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="RestrictedStringType">
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Za-z0-9\s~!&quot;@#$%&amp;'\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]_\{\}\^&#xa3;&#x20ac;]*"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorType">
				<xs:sequence>
					<xs:element name="ErrorType" type="RestrictedStringType"/>
					<xs:element name="ErrorNumber" type="RestrictedStringType"/>
					<xs:element name="ErrorMessage" type="RestrictedStringType"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MaintainPasswordRequest">
		<wsdl:part name="parameters" element="ns:MaintainPasswordRequest"/>
	</wsdl:message>
	<wsdl:message name="MaintainPasswordResponse">
		<wsdl:part name="parameters" element="ns:MaintainPasswordResponse"/>
	</wsdl:message>
	<wsdl:portType name="MaintainPasswordWSDLPort">
		<wsdl:operation name="MaintainPasswordWSDL">
			<wsdl:input message="tns:MaintainPasswordRequest"/>
			<wsdl:output message="tns:MaintainPasswordResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaintainPasswordWSDLBinding" type="tns:MaintainPasswordWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MaintainPasswordWSDL">
			<soap:operation soapAction="https://northgate-is.com/FL/MaintainPassword"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaintainPasswordWSDLService">
		<wsdl:documentation>northgate-is.com Registation Service</wsdl:documentation>
		<wsdl:port name="MaintainPasswordWSDLPort" binding="tns:MaintainPasswordWSDLBinding">
			<soap:address location="https://[server]/[port]/communication/MaintainPassword"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
