config/wsdl/fl/FLMaintainRegistrationUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 17-Oct-2013   Version 1.0  -->
<wsdl:definitions xmlns:ns="http://northgate-is.com/FL/MaintainUser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://northgate-is.com/FL/MaintainUser.wsdl" targetNamespace="http://northgate-is.com/FL/MaintainUser.wsdl" name="MaintainUser">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://northgateps.com/FLCommonTypes" targetNamespace="http://northgateps.com/FLCommonTypes" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="Money">
				<xsd:sequence>
					<xsd:element name="Pounds" type="xsd:int"/>
					<xsd:element name="Pence">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:maxInclusive value="99"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AddressType">
				<xsd:annotation>
					<xsd:documentation>An address is composed of a number of structured elements such as Postcode, Post-Town, Street etc</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Line1" type="xsd:string"/>
					<xsd:element name="Line2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Town" type="xsd:string"/>
					<xsd:element name="County" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Postcode" type="PostcodeType" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PostcodeType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z]{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9\-\.\)\(\+ ]+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference fior the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns="http://northgate-is.com/FL/MaintainUser" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://northgate-is.com/FL/Core" xmlns:flc="http://northgateps.com/FLCommonTypes" targetNamespace="http://northgate-is.com/FL/MaintainUser" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:import namespace="http://northgate-is.com/FL/Core"/>
			<xsd:import namespace="http://northgateps.com/FLCommonTypes"/>
			<xsd:element name="MaintainUserRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RequestParameters" type="core:StandardRequestStructure"/>
						<xsd:element name="Username" type="xsd:string"/>
						<xsd:element name="Requestor" type="xsd:string"/>
						<xsd:element name="Action">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="create"/>
									<xsd:enumeration value="update"/>
									<xsd:enumeration value="CompleteRegistration"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Title" type="xsd:string" minOccurs="0"/>
						<!-- not used -->
						<xsd:element name="Forename" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Used for creation of user (and party if
							individual)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Surname" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Used for creation of user (and party if
							individual)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CompanyName" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>used for creation of
							organisations/companies...RULE 1 if NOT provided party is
							Individual</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TradingName" type="xsd:string" minOccurs="0"/>
						<!-- Not Used -->
						<xsd:element name="RegistrationNumber" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>used for creation of Companies... RULE 2 if
							CompanyName provided AND Reg Number then create a Company
							else if CompanyName provided and NO Reg Number then create an
							organisation
						</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RegisteredAddress" type="core:AddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>RegistrationAddress cannot be supplied unless
							CompanyName supplied.</xsd:documentation>
								<!--should this not be RegistrationNumber -->
							</xsd:annotation>
							<!-- ASSUMED registered address and correspondence address BOTH provided 
						even if they are the same -->
						</xsd:element>
						<!-- Address elements used to create Correspondence address for Party -->
						<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
						<!-- end of Correspondence Address elements -->
						<xsd:element name="WorkplaceCode" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ServiceCode" type="xsd:string" minOccurs="0"/>
						<xsd:element name="EmailAddress" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Email address for User</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ConfirmEmailAddress" type="xsd:string" minOccurs="0"/>
						<xsd:element name="UserPhoneNumber" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>PhoneNumber for User</xsd:documentation>
							</xsd:annotation>
							<!--NEW Capture Phone Number of user to be stored against User -->
						</xsd:element>
						<xsd:element name="Password" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ForcePasswordChange" type="xsd:boolean" minOccurs="0"/>
						<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
						<xsd:element name="UserIsCurrent" type="xsd:string" minOccurs="0"/>
						<xsd:element name="UserRolesType" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="UserRole" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="UserServices" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="UserService" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>The service to which the user/party can
										access. .</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RegistrationToken" type="xsd:string" minOccurs="0"/>
						<xsd:element name="MarketingMobile" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MarketingMobile used to create the Contact
							Details for Party of all types</xsd:documentation>
							</xsd:annotation>
							<!--CHANGE PHONE Contact Details for Party NOT being created at moment. Need 
						to be done for ALL Parties. -->
						</xsd:element>
						<xsd:element name="PartyEmailAddress" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Contact Details Email address captured for
							Party </xsd:documentation>
							</xsd:annotation>
							<!--NEW Email Contact Details for Party to be created for all Parties. -->
						</xsd:element>
						<xsd:element name="PartyContactName" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Name of Primary Contact for Company and
							Organisations </xsd:documentation>
							</xsd:annotation>
							<!--NEW Party Contact Name for Party captured for Orgs and Company -->
						</xsd:element>
						<xsd:element name="PartyNINO" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>NINO of Primary Contact captured for
							Organisations OR NINO of Individual Party. Not Companies
						</xsd:documentation>
							</xsd:annotation>
							<!--NEW NINO for Party captured for Orgs and Individual -->
						</xsd:element>
						<xsd:element name="PartyAccountType" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Is the Registered party an Agent or a Tax
							Payer?</xsd:documentation>
							</xsd:annotation>
							<!--NEW Is the Party a TaxPayer or an Agent -->
						</xsd:element>
						<xsd:element name="MarketingIndicator" type="xsd:string" minOccurs="0"/>
						<!-- NOTE Should not be used for RS -->
						<xsd:element name="MarketingCommCode" type="xsd:string" minOccurs="0"/>
						<xsd:element name="DriversLicenceNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="CompanyVATRegNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PartyReference" type="xsd:integer" minOccurs="0"/>
						<xsd:element name="EmailDataIndicator" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Indicator if Party has agreed to recieving Emails with Return details once conditions read.</xsd:documentation>
							</xsd:annotation>
							<!--NEW Indicator to record if party have agreed to include content in Emails -->
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Y"/>
									<xsd:enumeration value="N"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PartyPhoneNumber" type="flc:PhoneNumberType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaintainUserResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="core:StandardResponseStructure">
							<xsd:sequence>
								<xsd:element name="PartyRef" type="xsd:string"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MaintainUserRequest">
		<wsdl:part name="parameters" element="ns:MaintainUserRequest"/>
	</wsdl:message>
	<wsdl:message name="MaintainUserResponse">
		<wsdl:part name="parameters" element="ns:MaintainUserResponse"/>
	</wsdl:message>
	<wsdl:portType name="MaintainUserWSDLPort">
		<wsdl:operation name="MaintainUserWSDL">
			<wsdl:input message="tns:MaintainUserRequest"/>
			<wsdl:output message="tns:MaintainUserResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaintainUserWSDLBinding" type="tns:MaintainUserWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MaintainUserWSDL">
			<soap:operation soapAction="https://northgate-is.com/FL/MaintainUser"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaintainUserWSDLService">
		<documentation>northgate-is.com Registation Service</documentation>
		<wsdl:port name="MaintainUserWSDLPort" binding="tns:MaintainUserWSDLBinding">
			<soap:address location="https://[server]/[port]/communication/MaintainUserRegistration"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
