config/wsdl/fl/GetPreviousReturnBreakdownPeriods.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://www.necsws.com/RSTS/GetPreviousReturnBreakdownPeriods"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.necsws.com/RSTS/GetPreviousReturnBreakdownPeriods.wsdl"
	xmlns:ns1="http://northgate-is.com/FL/Core" targetNamespace="http://www.necsws.com/RSTS/GetPreviousReturnBreakdownPeriods.wsdl" name="GetPreviousReturnBreakdownPeriods">
	<wsdl:types>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference for the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Service" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An example service is the name of the requesting system, e.g. RB or the database from which the request is coming from, e.g. RBDEV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Requestor" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An example requestor is the name of the Local Authority from which the request is being sent</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema xmlns="http://www.necsws.com/RSTS/GetPreviousReturnBreakdownPeriods"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:flc="http://northgate-is.com/FL/Core" targetNamespace="http://www.necsws.com/RSTS/GetPreviousReturnBreakdownPeriods" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://northgate-is.com/FL/Core" schemaLocation="FLCore.xsd"/>
			<xs:element name="PreviousReturnBreakdownPeriodsRequest">
				<xs:annotation>
					<xs:documentation>This api to get other return periods</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Username" type="xs:string"/>
						<xs:element name="ParRefno" type="xs:integer"/>
						<xs:element name="Service" type="xs:string" />
						<xs:element name="EnrmRefno" type="xs:integer">
							<xs:annotation>
								<xs:documentation>The enrolment registration reference</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PeriodStart" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousReturnBreakdownPeriodsReponse">
				<xs:annotation>
					<xs:documentation>Response of aggregate type rate</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="flc:StandardResponseStructure">
							<xs:sequence>
								<xs:element name="EnrmRegistrationRef" type="xs:string"></xs:element>
								<xs:element name="EnrmParRef" type="xs:string"></xs:element>
								<xs:element name="EnrmRefno" type="xs:integer"></xs:element>
								<xs:element name="ReturnPeriods" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ReturnPeriod" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="TareRefno" type="xs:integer">
															<xs:annotation>
																<xs:documentation>Tax return schedules tare refno</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="TareReference" type="xs:string">
															<xs:annotation>
																<xs:documentation>Tare reference</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="SrpbRefno" type="xs:integer">
															<xs:annotation>
																<xs:documentation>Tax return schedules periods breakdown refno</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="SrpbStartDate" type="xs:date" />
														<xs:element name="SrpbEndDate" type="xs:date"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetPreviousReturnBreakdownPeriods">
		<wsdl:part name="parameters" element="ns:PreviousReturnBreakdownPeriodsRequest"/>
	</wsdl:message>
	<wsdl:message name="PreviousReturnBreakdownPeriodsResponse">
		<wsdl:part name="parameters" element="ns:PreviousReturnBreakdownPeriodsResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetPreviousReturnBreakdownPeriodsWSDLPort">
		<wsdl:operation name="GetPreviousReturnBreakdownPeriodsWSDL">
			<wsdl:input message="tns:GetPreviousReturnBreakdownPeriods"/>
			<wsdl:output message="tns:PreviousReturnBreakdownPeriodsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetPreviousReturnBreakdownPeriodsWSDLBinding" type="tns:GetPreviousReturnBreakdownPeriodsWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetPreviousReturnBreakdownPeriodsWSDL">
			<soap:operation soapAction="http://www.necsws.com/RSTS/GetPreviousReturnBreakdownPeriods"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetPreviousReturnBreakdownPeriodsWSDLService">
		<documentation>necsws.com Get Aggregate Type Rates</documentation>
		<wsdl:port name="GetPreviousReturnBreakdownPeriodsWSDLPort" binding="tns:GetPreviousReturnBreakdownPeriodsWSDLBinding">
			<soap:address location="https://[server]/[port]/communication/GetPreviousReturnBreakdownPeriods"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>