config/wsdl/fl/GetReferenceValues.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://www.northgate-is.com/FL/GetReferenceValues" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="northgate-is.com/GetReferenceValues.wsdl" targetNamespace="northgate-is.com/GetReferenceValues.wsdl">
	<wsdl:types>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference fior the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema xmlns="http://www.northgate-is.com/FL/GetReferenceValues" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:flc="http://northgate-is.com/FL/Core" targetNamespace="http://www.northgate-is.com/FL/GetReferenceValues" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://northgate-is.com/FL/Core"/>
			<xs:element name="GetReferenceValuesResponse">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="flc:StandardResponseStructure">
							<xs:sequence>
								<xs:element name="ReferenceValues" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ReferenceValue" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DomainCode">
															<xs:annotation>
																<xs:documentation>The domain or type of this code e.g. Titles</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ServiceCode">
															<xs:annotation>
																<xs:documentation>Where the system has multiple services the service to which this list belongs. Those for the 'SYS' service are valid for all services</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="WorkplaceCode">
															<xs:annotation>
																<xs:documentation>Where the system has multiple tenants (workplaces) the workplace to which this list belongs.  The details for the system workplace (workplace 1) are valid for all workplaces</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Code">
															<xs:annotation>
																<xs:documentation>The available code e.g. Mr</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Name">
															<xs:annotation>
																<xs:documentation>The name of the code, the value that would normally be shown to the user</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="40"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="NameTranslations" type="flc:StandardTextTranslationStructure" minOccurs="0"/>
														<xs:element name="Comment" minOccurs="0">
															<xs:annotation>
																<xs:documentation>A longer text string associated with the code, a long description</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="240"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Default" type="flc:YesNoType">
															<xs:annotation>
																<xs:documentation>Is this the default value for this domain</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Sequence" type="xs:integer" minOccurs="0">
															<xs:annotation>
																<xs:documentation>an optional numeric value, normally used for sorting the codes</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns="http://www.northgate-is.com/FL/GetReferenceValues" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:flc="http://northgate-is.com/FL/Core" targetNamespace="http://www.northgate-is.com/FL/GetReferenceValues" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://northgate-is.com/FL/Core"/>
			<xs:element name="GetReferenceValues">
				<xs:annotation>
					<xs:documentation>This API allows you to get the lists of values from the system. These may apply across the whole system or to a particular service and workplace combination. Where a list exists at the workplace or service level then this overrides the list at the system level</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DomainCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The domain or type of the list of values e.g. Titles</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ServiceCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Where the system has multiple services the service to which this list belongs, those for the 'SYS' service [common codes] are always returned</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="WorkplaceCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Where the system has multiple tenants (workplaces) the service to which this list belongs.  The details for the system workplace (workplace 1) are always returned</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Code" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Allows you to restrict the return to an individual code</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetReferenceValuesRequest">
		<wsdl:part name="parameters" element="ns:GetReferenceValues"/>
	</wsdl:message>
	<wsdl:message name="GetReferenceValuesResponse">
		<wsdl:part name="parameters" element="ns:GetReferenceValuesResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetReferenceValuesWSDLPort">
		<wsdl:operation name="GetReferenceValuesWSDL">
			<wsdl:input message="tns:GetReferenceValuesRequest"/>
			<wsdl:output message="tns:GetReferenceValuesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetReferenceValuesWSDLBinding" type="tns:GetReferenceValuesWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Define document style -->
		<!-- define literal -->
		<wsdl:operation name="GetReferenceValuesWSDL">
			<soap:operation soapAction="https://server/DATABASE/communication/getReferenceValues"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetReferenceValuesWSDLService">
		<wsdl:port name="GetReferenceValuesWSDLPort" binding="tns:GetReferenceValuesWSDLBinding">
			<soap:address location="https://server/DATABASE/communication/getReferenceValues"/>
			<!-- give the binding an network address -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
