config/wsdl/fl/ListSecureMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://www.northgateps.com/FL/ListSecureMessages"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.northgateps.com/FL/ListSecureMessages.wsdl" targetNamespace="http://www.northgateps.com/FL/ListSecureMessages.wsdl">
	<wsdl:types>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference for the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Service" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An example service is the name of the requesting system, e.g. RB or the database from which the request is coming from, e.g. RBDEV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Requestor" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An example requestor is the name of the Local Authority from which the request is being sent</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema xmlns="http://www.northgateps.com/FL/ListSecureMessages"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:flc="http://northgate-is.com/FL/Core" targetNamespace="http://www.northgateps.com/FL/ListSecureMessages" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://northgate-is.com/FL/Core"/>
			<xs:element name="ListSecureMessagesRequest">
				<xs:annotation>
					<xs:documentation>This API for listing secured message</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ParRefno" type="xs:string"/>
						<xs:element name="PortalObjectType" type="xs:string" minOccurs="0"/>
						<xs:element name="PortalObjectReference" type="xs:string" minOccurs="0"/>
						<xs:element name="Username" type="xs:string"/>
						<xs:element name="SubjectCode" type="xs:string" minOccurs="0"/>
						<xs:element name="SubjectDesc" type="xs:string" minOccurs="0"/>
						<xs:element name="WrkRefno" type="xs:integer" minOccurs="0"/>
						<xs:element name="SRVCode" type="xs:string" minOccurs="0"/>
						<xs:element name="FromDate" type="xs:date" minOccurs="0"/>
						<xs:element name="ToDate" type="xs:date" minOccurs="0"/>
						<xs:element name="SortBy">
							<xs:annotation>
								<xs:documentation>Sort by type selected in dropdown</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="MostRecent"/>
									<xs:enumeration value="Oldest"/>
									<xs:enumeration value="ReturnReference"/>
									<xs:enumeration value="SenderName"/>
									<xs:enumeration value="Subject"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SearchUserName" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>one account has 'N' number of users. This Field to be used in the search filters</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SmsgOriginalRefno" type="xs:integer" minOccurs="0"/>
						<xs:element name="MarkAsRead" type="xs:string" minOccurs="0"/>
						<xs:element name="Reference" type="xs:string" minOccurs="0"/>
						<xs:element name="UnreadOnly" type="flc:YesNoType" default="no"/>
						<xs:element name="Direction">
							<xs:annotation>
								<xs:documentation>Message Direction whether Inbound or Outbound</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Inbound"/>
									<xs:enumeration value="Outbound"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Pagination" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StartRow" type="xs:int"/>
									<xs:element name="NumRows" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListSecureMessagesResponse">
				<xs:annotation>
					<xs:documentation>This reponse listing secured messages for a party</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="flc:StandardResponseStructure">
							<xs:sequence>
								<xs:element name="Pagination" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="MoreRowsExist" minOccurs="0"/>
											<xs:element name="TotalRows" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SecureMessages" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="SecureMessage" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="SmsgRefno" type="xs:integer"/>
														<xs:element name="OriginalSmsgRefno" type="xs:integer"/>
														<xs:element name="Direction">
															<xs:annotation>
																<xs:documentation>The direction of the message (I = incoming from portal, O outgoing from back office)</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string"/>
															</xs:simpleType>
														</xs:element>
														<xs:element name="SubjectCode" type="xs:string"/>
														<xs:element name="SubjectDesc" type="xs:string" minOccurs="0"/>
														<xs:element name="SubjectDomain" type="xs:string"/>
														<xs:element name="WrkRefno" type="xs:integer"/>
														<xs:element name="SRVCode" type="xs:string"/>
														<xs:element name="Title" type="xs:string"/>
														<xs:element name="Body" type="xs:string"/>
														<xs:element name="Reference" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>It can be either a Return reference or a Case reference or blank or others</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="AltReference" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Agent reference stored on the secure message</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="CreatedDate" type="xs:dateTime"/>
														<xs:element name="CreatedBy" type="xs:string">
															<xs:annotation>
																<xs:documentation>This will be Username who created/replied to message. Few Back office users will be masked</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ReadIndicator" type="xs:boolean" minOccurs="0"/>
														<xs:element name="ReadDatetime" type="xs:dateTime" minOccurs="0"/>
														<xs:element name="HasAttachment" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Forename" type="xs:string" minOccurs="0"/>
														<xs:element name="Surname" type="xs:string"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ListSecureMessagesRequest">
		<wsdl:part name="parameters" element="ns:ListSecureMessagesRequest"/>
	</wsdl:message>
	<wsdl:message name="ListSecureMessagesResponse">
		<wsdl:part name="parameters" element="ns:ListSecureMessagesResponse"/>
	</wsdl:message>
	<wsdl:portType name="ListSecureMessagesWSDLPort">
		<wsdl:operation name="ListSecureMessagesWSDL">
			<wsdl:input message="tns:ListSecureMessagesRequest"/>
			<wsdl:output message="tns:ListSecureMessagesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ListSecureMessagesWSDLBinding" type="tns:ListSecureMessagesWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Define document style -->
		<!-- define literal -->
		<wsdl:operation name="ListSecureMessagesWSDL">
			<soap:operation soapAction="https://server/DATABASE/communication/getListSecureMessages"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ListSecureMessagesWSDLService">
		<wsdl:port name="ListSecureMessagesWSDLPort" binding="tns:ListSecureMessagesWSDLBinding">
			<soap:address location="https://server/DATABASE/communication/getListSecureMessages"/>
			<!-- give the binding an network address -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
