config/wsdl/fl/ViewAllReturns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 17-Oct-2013   Version 1.0  -->
<wsdl:definitions xmlns:ns="http://www.northgateps.com/RSTS/ViewAllReturns" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.northgateps.com/RSTS/ViewAllReturns.wsdl" targetNamespace="http://www.northgateps.com/RSTS/ViewAllReturns.wsdl" name="ViewAllReturns">
	<wsdl:types>
		<xsd:schema xmlns="http://northgate-is.com/FL/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://northgate-is.com/FL/Core" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PersonNameType">
				<xsd:sequence>
					<xsd:element name="Title" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Forename">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Othername" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Surname">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="YesNoType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressTownOrCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountyOrRegion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressPostcodeOrZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AddressCountryCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="QASMoniker" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QAS unique reference for the address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="SeverityType">
				<xsd:annotation>
					<xsd:documentation>Severity Type (for message) - error,validation,warning,information. Note that validation messages should be treated as error messages</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR"/>
					<xsd:enumeration value="VAL"/>
					<xsd:enumeration value="WAR"/>
					<xsd:enumeration value="INF"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a message in the response.The logical data item, row and InLineText are used for in-line errors, ifthe logical data item is not present on the page then it is treated as a norma error, the the standard text is used if the in-line text is not present</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string"/>
					<xsd:element name="Severity" type="SeverityType" minOccurs="0"/>
					<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LogicalDataItem" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Row" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InLineText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MessagesStructure">
				<xsd:annotation>
					<xsd:documentation>Common Structure for returning a multiple messages in the response</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Message" type="MessageStructure" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponseStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning a success or failure and optional messages</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Success" type="xsd:boolean"/>
					<xsd:element name="Fatal" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Optional tag set to true if there is fatal error, this means there has been an oracle error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messages" type="MessagesStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardTextTranslationStructure">
				<xsd:annotation>
					<xsd:documentation>Common Response structure for returning foriegn language translations</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Translation" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Language" type="xsd:string"/>
								<xsd:element name="Text" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardRequestStructure">
				<xsd:annotation>
					<xsd:documentation>Common Request structure for passing standard information in the request, currently used just to set language</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Service" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An example service is the name of the requesting system, e.g. RB or the database from which the request is coming from, e.g. RBDEV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Requestor" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>An example requestor is the name of the Local Authority from which the request is being sent</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xs:schema xmlns="http://www.northgateps.com/RSTS/ViewAllReturns" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://northgate-is.com/FL/Core" targetNamespace="http://www.northgateps.com/RSTS/ViewAllReturns" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://northgate-is.com/FL/Core"/>
			<xs:element name="ViewReturnsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SRVCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LBTT, SLFT</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="SLFT"/>
									<xs:enumeration value="LBTT"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="FLBTType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The types of LBTT returns</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ASSIGN"/>
									<xs:enumeration value="CONVEY"/>
									<xs:enumeration value="TERMINATE"/>
									<xs:enumeration value="LEASEREV"/>
									<xs:enumeration value="LEASERET"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Pagination" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StartRow" type="xs:int"/>
									<xs:element name="NumRows" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ParRefno" type="xs:string"/>
						<xs:element name="Username" type="xs:string"/>
						<xs:element name="TAREReference" type="xs:string" minOccurs="0"/>
						<xs:element name="TARERefno" type="xs:string" minOccurs="0"/>
						<xs:element name="AgentReference" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reference for the buyers agent for LBTT service only</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DescriptionSearch" type="xs:string" minOccurs="0"/>
						<xs:element name="AllVersions" type="core:YesNoType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>No - latest version Yes - All versions</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="REturnStatus" type="xs:string" minOccurs="0"/>
						<xs:element name="BalanceStatus" type="xs:string" minOccurs="0"/>
						<xs:element name="OutstandingBalance" type="core:YesNoType" minOccurs="0"/>
						<xs:element name="DateOfReturn" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the submitted date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FromReturnDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the from date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ToReturnDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the to date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DraftOnly" type="core:YesNoType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Only return Draft versions</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ViewReturnsResponse">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="core:StandardResponseStructure">
							<xs:sequence>
								<xs:element name="Returns">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Pagination" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="MoreRowsExist" minOccurs="0"/>
														<xs:element name="TotalRows" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Response" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="TaxReturn" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="TareReference" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Return Reference</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="TareRefno" type="xs:integer" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Internal Return Reference</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ReturnDate" type="xs:date" minOccurs="0"/>
																	<xs:element name="Version" type="xs:integer" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Return Version</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="AgentReference" type="xs:string" minOccurs="0"/>
																	<xs:element name="Description" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>For SLFT this is Period and Year For LBTT this is the buyer and property address(es)</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ReturnStatus" type="xs:string" minOccurs="0"/>
																	<xs:element name="SrvCode" type="xs:string" minOccurs="0"/>
																	<xs:element name="LatestDraftDisInd" type="xs:string" minOccurs="0"/>
																	<xs:element name="BalanceStatus" type="xs:string" minOccurs="0"/>
																	<xs:element name="ReturnBalance" type="xs:decimal" minOccurs="0"/>
																	<xs:element name="PaymentDate" type="xs:date" minOccurs="0"/>
																	<xs:element name="FilingDate" type="xs:date" minOccurs="0"/>
																	<xs:element name="EnquiryOpen" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Returns True if an open ENQUIRY case is linked to the return</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="DraftPresent" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Returns True if there is a draft return</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ReceiptAvailable" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Returns True if there is a receipt available for return</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ViewAllReturns">
		<wsdl:part name="parameters" element="ns:ViewReturnsRequest"/>
	</wsdl:message>
	<wsdl:message name="ViewReturnsResponse">
		<wsdl:part name="parameters" element="ns:ViewReturnsResponse"/>
	</wsdl:message>
	<wsdl:portType name="ViewAllReturnsWSDLPort">
		<wsdl:operation name="ViewAllReturnsWSDL">
			<wsdl:input message="tns:ViewAllReturns"/>
			<wsdl:output message="tns:ViewReturnsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ViewAllReturnsWSDLBinding" type="tns:ViewAllReturnsWSDLPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ViewAllReturnsWSDL">
			<soap:operation soapAction="http://www.northgateps.com/RSTS/ViewAllReturns"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ViewAllReturnsWSDLService">
		<documentation>northgateps.com View Returns Service</documentation>
		<wsdl:port name="ViewAllReturnsWSDLPort" binding="tns:ViewAllReturnsWSDLBinding">
			<soap:address location="https://[server]/[port]/communication/ViewAllReturns"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
